.header-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.header-left-text {
  margin-bottom: 20px;
}

.date-align {
  margin-right: 10px;
}

.btn-align {
  margin-right: 10px;
}

@media (max-width: 425px) {
  .date-align {
    margin-bottom: 10px;
  }

  .btn-align {
    margin-right: 0;
  }

  .btn-group {
    display: block;
    margin-bottom: 10px;
  }
}
