<div class="container" style="margin-bottom:30px">

  <div style="display: flex;
    justify-content: space-between;margin-top:20px">
    <div style="display:inline">
      <div style="margin-bottom:20px">Select Date to get Last 30Days Weather Report</div>
      <input type="date" style="margin-right:10px;" [(ngModel)]="selectedDate" (ngModelChange)="dateSelected()" [max]="disableFutureDates()">
      <button class="btn btn-primary" [ngStyle]="!selectedNewDate ? {'cursor': 'no-drop'} : {'cursor': 'pointer'}" [disabled]="!selectedNewDate" (click)="changeDate(selectedDate)">Submit</button>
    </div>

    <div class="btn-group btn-group-justified">
      <div class="btn-group" style="margin-right:10px">
        <button type="button" class="btn btn-primary" (click)="navigatePage('temperature')">Temperature Report</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="navigatePage('humidity')">Humidity Report</button>
      </div>
    </div>

  </div>


  <router-outlet></router-outlet>

</div>