.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  display: block;
}

.loading-screen-icon {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin-bottom: 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header-left-text {
  margin-bottom: 20px;
}

.date-align {
  margin-right: 10px;
}

.btn-align {
  margin-right: 10px;
}
