<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<input type="date" id="changeDate" [(ngModel)]="selectedDate" [max]="getToday()">

<button (click)="changeDate(selectedDate)">Refresh</button>


  <div class="btn-group">
  <button type="button" class="btn btn-primary" (click)="navigate('temperature')">Temperature</button>
  <button type="button" class="btn btn-primary" (click)="navigate('humidity')">Humidity</button>
</div>

<router-outlet></router-outlet>

<!-- <app-high-charts></app-high-charts> -->
<!-- <ng-container *ngIf="this.mainCall"> -->
  <!-- <app-temperature-chart></app-temperature-chart> -->

  <!-- <app-humidity-chart></app-humidity-chart> -->
<!-- </ng-container> -->